doctype
html
	head
		include ./inc/head
	body
		include ./inc/header
		.page-wrapper
			.row
				.col-lg-12
					h1.page-header 景点列表
			.row
				.col-lg-12
					table.table-bordered.table-hover
						thead
							tr
								th id
								th title
								th type
								th opentime
						tbody
							tr
								td
					
	include ./inc/baseJs