script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/metisMenu/dist/metisMenu.js")
script.
	$(function() {
		$('#side-menu').metisMenu();
	})