doctype
html
	head
		include ./includes/head
	body
		.mobile-container
			.header
				img(src="/images/top2.png")
			.scenic.scenic_info
				p.pr
					span.detail_title 简介
					span.detail_info 山东地下大峡谷景区位于...
					span.detail_icon
				p.pr
					span.detail_title 类型
					span.detail_info 峡谷
					span.detail_icon
				p.pr
					span.detail_title 开放时间
					span.detail_info 07:20-17:30
					span.detail_icon
				p.pr
					span.detail_title 地址
					span.detail_info 临沂市沂水县城西南8公里
					span.detail_icon
				p.pr
					span.detail_title 电话
					span.detail_info 0539-2559999
					span.detail_icon
			.scenic-line
			.scenic.scenic_rote
				p.rote_title 游览路线
				p 龙道--九龙宫--地下暗河--万年灵芝--九龙瀑--通海宫--冰瀑 
					a.rote_a(href="#") 『详细路线』
			.scenic-line
			.scenic
				p.review_title
					img.review_imgW(src="/images/Write.png")
					| 游客点评
					font (
						a 1122
						| 条评论)
				.review
					div
						p.review_person
							img.review_imgP(src="/images/touxiang.png")
							span.review_personName 游客1
						p.review_xx
							img.review_imgXX(src="/images/xxQ.png")
						p.review_time
							img.review_imgT(src="/images/colock.png")
							| 2016年05月12日
					p.review_con 景色挺好，人挺多的，卖票的窗口没都开开，买票排了一个小时的队，玩了两个半小时，做漂流时免票的儿童没有鞋套不是很周到，我的给了孩子自己的鞋子...
			.review_more
				a 更多>>