doctype
html
	head
		include ./includes/head
	body
		.mobile-container
			.header.pr
				img(src="/images/top1.png")
				btn.btn_gg.pa
			.ad_run
				marquee.ad_run_con(scrollamount="2", direction="Left")
					p “亲情沂蒙”新媒体采风活动之“红色沂蒙”“绿色沂蒙”
			each zone in zones
				div.pr
					img(src="../#{zone.littleimg}")
					div.pa.img_bottom
						font #{zone.title}
						div.img_bottom_con
							img(src="/images/love.png")
							a(href="#") 36754
							img(src="/images/comment.png")
							a(href="#") 754
			//- div.pr
			//- 	img(src="/images/guanbiwenquan.png")
			//- 	div.pa.img_bottom
			//- 		font 沂蒙湖
			//- 		div.img_bottom_con
			//- 			img(src="/images/love.png")
			//- 			a(href="#") 36754
			//- 			img(src="/images/comment.png")
			//- 			a(href="#") 754
			//- div.pr
			//- 	img(src="/images/guanbiwenquan.png")
			//- 	div.pa.img_bottom
			//- 		font 沂蒙湖
			//- 		div.img_bottom_con
			//- 			img(src="/images/love.png")
			//- 			a(href="#") 36754
			//- 			img(src="/images/comment.png")
			//- 			a(href="#") 754			
			//- div.pr
			//- 	img(src="/images/guanbiwenquan.png")
			//- 	div.pa.img_bottom
			//- 		font 沂蒙湖
			//- 		div.img_bottom_con
			//- 			img(src="/images/love.png")
			//- 			a(href="#") 36754
			//- 			img(src="/images/comment.png")
			//- 			a(href="#") 754
			.scenic-lineOne
				a(href="#") 查看更多