doctype
html
	head
		include ./includes/head
	body
		.mobile-container
			.header
				img(src="/images/top1.png")
			.ad_run
				marquee.ad_run_con(scrollamount="2", direction="Left")
					p “亲情沂蒙”新媒体采风活动之“红色沂蒙”“绿色沂蒙”
			div
				img(src="/images/mengshan.png")
			div
				img(src="/images/yimenghu.png")
			div
				img(src="/images/guanbiwenquan.png")
			.scenic-lineOne
				a(href="#") 查看更多