doctype
html
	head
		include ./includes/head
	body
		.mobile-container
			.header.pr
				img(src="/images/top1.png")
				btn.btn_gg.pa
			.ad_run
				marquee.ad_run_con(scrollamount="2", direction="Left")
					p 曲阜，古为鲁国国都，孔子故里，被誉为“东方圣城”、“东方耶路撒冷”。
			div.pr
				a(href="/detail")
					img(src="/images/kongfu.jpg")
					div.pa.img_bottom
						font 孔府
						div.img_bottom_con
							img(src="/images/love.png")
							a(href="#") 36754
							img(src="/images/comment.png").img_comment
							a(href="#") 754
			div.pr
				a(href="/detail")
					img(src="/images/kongmiao.jpg")
					div.pa.img_bottom
						font 孔庙
						div.img_bottom_con
							img(src="/images/love.png")
							a(href="#") 36754
							img(src="/images/comment.png").img_comment
							a(href="#") 754			
			div.pr
				a(href="/detail")
					img(src="/images/konglin.jpg")
					div.pa.img_bottom
						font 孔林
						div.img_bottom_con
							img(src="/images/love.png")
							a(href="#") 36754
							img(src="/images/comment.png").img_comment
							a(href="#") 754			
			.scenic-lineOne
				a(href="#") 查看更多