@charset "utf-8";

html {
	width: 100%;
	height: 100%;
	font-size: 16px
}
body, p, input, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: middle;
	font-weight: normal
}
img {
	border: 0;
	margin: 0;
	padding: 0;
	max-width: 100%;
	line-height: 0;
	vertical-align: middle
}
body {
	font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
	color: #666;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none
}
header, section, footer {
	display: block;
	margin: 0;
	padding: 0
}
input, select, button, h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-family: inherit
}
a {
	text-decoration: none;
	border: 0;
	color: #333
}
a:visited {
	color: #333
}
::-webkit-input-placeholder {
	color: #8b8b8b;
	font-size: 14px;
	line-height: 1.2
}
input[type="button"], input[type="submit"] {
	-webkit-appearance: none;
	outline: none;
	text-align: center
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0
}
input[type="number"] {
	-moz-appearance: textfield;
	outline: none
}
*, :after, :before {
	box-sizing: border-box
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
.show {
	display: block
}
.hide {
	display: none
}
.pr {
	position: relative
}
.pa {
	position: absolute
}
.mobile-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
	min-width: 320px;
	overflow-x: hidden
}
@media only screen and (min-width:320px) and (max-width:359px) {
	html {
		font-size: 12px !important
	}
	.mobile-container {
		min-width: 320px;
		max-width: 359px
	}
}
@media only screen and (min-width:360px) and (max-width:479px) {
	html {
		font-size: 13px !important
	}
	.mobile-container {
		min-width: 360px;
		max-width: 479px
	}
}
@media only screen and (min-width:480px) and (max-width:539px) {
	html {
		font-size: 14px !important
	}
	.mobile-container {
		min-width: 480px;
		max-width: 539px
	}
}
@media only screen and (min-width:540px) and (max-width:640px) {
	html {
		font-size: 16px !important
	}
	.mobile-container {
		min-width: 540px
	}
}