doctype
html
	head
		include ./inc/head
	body
		include ./inc/header
		.page-wrapper
			.row
				.col-lg-12
					h1.page-header 添加景点
			.row
				.col-lg-12
					form.form-horizontal(action="/admin/addZone", method="post", enctype="multipart/form-data")
						.form-group
							label.col-sm-2.control-label(for="") 标题
							.col-sm-10
								input.form-control.w2(type="text", name="title", placeholder="标题", value="", required)
						.form-group
							label.col-sm-2.control-label(for="") 拼音标题
							.col-sm-10
								input.form-control.w2(type="text", name="pinyintitle", placeholder="拼音标题", required)
						.form-group
							label.col-sm-2.control-label(for="") 预览图
							.col-sm-10
								input.form-control.w2.pull-left(type="file", name="uploadLittleimg", required)
						.form-group
							label.col-sm-2.control-label(for="") 详情大图
							.col-sm-10
								input.form-control.w2(type="file", name="uploadImg", required)
						.form-group
							label.col-sm-2.control-label(for="") 语音
							.col-sm-10
								input.form-control.w2(type="file", name="uploadVoice", required)
						.form-group
							label.col-sm-2.control-label(for="") 简介
							.col-sm-10
								textarea.form-control.w3(rows="5", name="intro" placeholder="简介")
						.form-group
							label.col-sm-2.control-label(for="") 类型
							.col-sm-10
								input.form-control.w2(type="text", name="type" placeholder="类型")
						.form-group
							label.col-sm-2.control-label(for="") 开放时间
							.col-sm-10
								input.form-control.w2(type="text", name="opentime" placeholder="开放时间")
						.form-group
							label.col-sm-2.control-label(for="") 地址
							.col-sm-10
								input.form-control.w2(type="text", name="address" placeholder="地址")
						.form-group
							label.col-sm-2.control-label(for="") 电话
							.col-sm-10
								input.form-control.w2(type="text", name="phone" placeholder="电话")
						.form-group
							label.col-sm-2.control-label(for="") 游览路线
							.col-sm-10
								textarea.form-control.w3(rows="5", name="route" placeholder="游览路线")
						.form-group
							.col-sm-offset-2.col-sm-10
								input.btn.btn-primary(type="submit", value="保存")
	include ./inc/baseJs		