nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0;")
	.navbar-header
		button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href="index.html") 后台管理
	.navbar-default.sidebar(role="navigation")
		.sidebar-nav.navbar-collapse
			ul.nav#side-menu
				li
					a(href="/admin/index") 
						i.fa.fa-dashboard.fa-fw
						| 首页
				li
					a(href="/admin/listZone") 
						i.fa.fa-dashboard.fa-fw
						| 景点管理
				//- li
				//- 	a(href="#") 
				//- 		i.fa.fa-bar-chart-o.fa-fw
				//- 		| 列表
				//- 		span.fa.arrow
				//- 	ul.nav.nav-second-level
				//- 		li
				//- 			a(href="") 列表1