meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
title #{title}
meta(name="description", content="#{description}")
meta(name="keywords", content="#{keywords}")
meta(name="author", content="#{author}")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/libs/font-awesome/css/font-awesome.min.css", rel="stylesheet")
link(href="/css/admin/admin.css", rel="stylesheet")
<!--[if lt IE 9]>
script(src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js")
script(src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js")
<![endif]-->